{% extends "plan_base.html" %}
{% block extraCSS %}
<link rel=stylesheet type=text/css href="../../static/css/jquery.tagsinput.css">
<link rel=stylesheet type=text/css href="../../static/css/custom/prphoto_plan.css">
{% endblock %}
{% block adWord %}<a class="brand" href="/">KACHA</a>{% endblock %}
{% block timeline %}
<div class="container">
  <div class="hero-unit">
    <span class="badge"><h2>Title</h2></span>
    <div class="well title-unit">
      <div class="control-group">
	<label class="control-label"><h3>Project Title</h3></label>
	<div class="controls">{{plan["title"]}}</div>
      </div>
      <div class="control-group">
	<label class="control-label"><h3>Tags</h3></label>
	<div class="controls">
            {% for tag in plan["tags"] %}
            <span class="label tags">{{ tag }}</span>&nbsp;
            {% endfor %}
        </div>
      </div>
    </div>
    <br /><br />
    <span class="badge"><h2>Members</h2></span>
    <div class="well members-unit">
      <div class="control-group">
        <label class="control-label"><h3>Initiators</h3></label>
        <div class="controls">
            {% for initiator in plan["initiators"] %}
            <span class="label initiators">{{ initiator }}</span>&nbsp;
            {% endfor %}
        </div>
      </div>
      <div class="control-group">
        <label class="control-label"><h3>Masters</h3></label>
        <div class="controls">
            {% for master in plan["masters"] %}
            <span class="label masters">{{ master }}</span>&nbsp;
            {% endfor %}
        </div>
      </div>
      <div class="control-group">
        <label class="control-label"><h3>Members</h3></label>
        <div class="controls">
            {% for member in plan["members"] %}
            <span class="label members">{{ member }}</span>&nbsp;
            {% endfor %}
        </div>
      </div>
    </div>
    <br /><br />
    <span class="badge"><h2>Description</h2></span>
    <div class="well description-unit">
      <div class="control-group">
        <label class="control-label"><h3>Description</h3></label>
        <div class="controls">
            {{ plan["description"] }}
        </div>
      </div>
    </div>
    <br /><br />
    <span class="badge"><h2>Misc</h2></span>
    <div class="well misc-unit">
      <div class="control-group">
        <label class="control-label"><h3>Equipments</h3></label>
        <div class="controls">
            {% for equipment in plan["equipments"] %}
            <span class="label equipments">{{ equipment }}</span>&nbsp;
            {% endfor %}
        </div>
      </div>
      <div class="control-group">
        <label class="control-label"><h3>Status</h3></label>
        <div class="controls">
            {{ plan["status"] }}
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
