{% extends "plan_base.html" %}
{% block extraCSS %}
<link rel=stylesheet type=text/css href="../../static/css/custom/prphoto_plan.css">
{% endblock %}
{% block adWord %}<a class="brand" href="/">KACHA</a>{% endblock %}
{% block timeline %}
<div class="hero-unit jetstrap-highlighted"><div class="well"><div class="control-group"><label class="control-label">Text</label><div class="controls"><input type="text"></div></div><div class="control-group"><label class="control-label">Text</label><div class="controls"><input type="text"></div></div></div><button type="submit" class="btn">Click!</button></div>
{% endblock %}
{% block extraJS %}
<script src="../../static/js/jquery-validate.min.js"></script>
<script src="../../static/js/custom/prphoto_showFlash.js"></script>
<script src="../../static/js/custom/prphoto_profile.js"></script>
{% endblock %}
