{% extends "plan_base.html" %}
{% block extraCSS %}
<link rel=stylesheet type=text/css href="../../static/css/jquery.tagsinput.css">
<link rel=stylesheet type=text/css href="../../static/css/custom/prphoto_plan.css">
{% endblock %}
{% block adWord %}<a class="brand" href="/">KACHA</a>{% endblock %}
{% block timeline %}
<div class="container">
  <div class="hero-unit">
    <span class="badge">Title</span>
    <div class="well title-unit">
      <div class="control-group">
	<label class="control-label">Project Title</label>
	<div class="controls">{{plan["title"]}}</div>
      </div>
      <div class="control-group">
	<label class="control-label">Tags</label>
	<div class="controls">
            {% for tag in plan["tags"] %}
            <span class="label tags">{{ tag }}</span>&nbsp;
            {% endfor %}
        </div>
      </div>
    </div>
    <br /><br />
    <span class="badge">Members</span>
    <div class="well members-unit">
      <div class="control-group">
        <label class="control-label">Initiators</label>
        <div class="controls">
            {% for initiator in plan["initiators"] %}
            <span class="label initiators">{{ initiator.profile.nick_name }}</span>&nbsp;
            {% endfor %}
        </div>
      </div>
      <div class="control-group">
        <label class="control-label">Masters</label>
        <div class="controls">
            {% for master in plan["masters"] %}
            <span class="label masters">{{ master.profile.nick_name }}</span>&nbsp;
            {% endfor %}
        </div>
      </div>
      <div class="control-group">
        <label class="control-label">Members</label>
        <div class="controls">
            {% for member in plan["members"] %}
            <span class="label members">{{ member.profile.nick_name }}</span>&nbsp;
            {% endfor %}
        </div>
      </div>
    </div>
    <br /><br />
    <span class="badge">Description</span>
    <div class="well description-unit">
      <div class="control-group">
        <label class="control-label">Description</label>
        <div class="controls">
            {{ plan["description"] }}
        </div>
      </div>
    </div>
    <br /><br />
    <span class="badge">Misc</span>
    <div class="well misc-unit">
      <div class="control-group">
        <label class="control-label">Equipments</label>
        <div class="controls">
            {% for equipment in plan["equipments"] %}
            <span class="label equipments">{{ equipment }}</span>&nbsp;
            {% endfor %}
        </div>
      </div>
      <div class="control-group">
        <label class="control-label">Status</label>
        <div class="controls">
            {{ plan["status"] }}
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
