#timeline {
  margin: 75px auto;
}

#base_info td.profile_info {
  text-align: right;
}

.initiators, .masters, .members, .equipments {
    vertical-align: top;
}

#description-cotent {
    min-height: 300px;
    width: 75%;
}

#title, #member, #description, #misc {
    margin-top: 50px;
}

#member, #description, #misc {
    display: none;
}

.carousel {
    margin-bottom: 60px;
}

.carousel .container {
    position: relative;
    z-index: 9;
}

.carousel-control {
    background-color: transparent;
    border: 0;
    font-size: 120px;
    height: 80px;
    margin-top: 0;
    text-shadow: 0 1px 1px rgba(0,0,0,.4);
    z-index: 10;
}

.carousel .item {
    height: 500px;
}

.carousel img {
    height: 500px;
    left: 0;
    min-width: 100%;
    position: absolute;
    top: 0;
}

.carousel-caption {
    background-color: transparent;
    margin-top: 200px;
    max-width: 550px;
    position: static;
    padding: 0 20px;
}

.carousel-caption h1, .carousel-caption .lead {
    color: #fff;
    line-height: 1.25;
    margin: 0;
    text-shadow: 0 1px 1px rgba(0,0,0,.4);
}

.carousel-caption .btn {
    margin-top: 10px;
}

/* Ordered list for display results. */
ol.mp_list {
  background-color: #FFFFFF;
  /*border-left: 1px solid #C0C0C0;
  border-right: 1px solid #C0C0C0;*/
  margin-left: -1px;
  margin-top: -8px;
  overflow: hidden;
  position: absolute;
  width: 220px;
  z-index: 99999;
}

/* Each list item, regardless of success, error, etc. */
ol.mp_list li {
  /*border-bottom: 1px solid #C0C0C0;
  padding: 4px 4px 5px;*/
}

/* Each list item from a successful request. */
ol.mp_list li.mp_item {

}

/* Each list item that's selectable. */
ol.mp_list li.mp_selectable {
  cursor: pointer;
}

/* Currently highlighted list item. */
ol.mp_list li.mp_highlighted {
  background-color: #E0E0E0;
}

/* When a request is made that returns zero results. */
ol.mp_list li.mp_no_results {

}

/* When a request is made that doesn't meet the 'minChars' length option. */
ol.mp_list li.mp_min_chars {

}

/* When a request is made that fails during the ajax request. */
ol.mp_list li.mp_error {

}

.sample-photo .pic {
    position: relative;
}
